apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: flight-tracker
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/halitdincer/flight-tracker.git
    targetRevision: main
    path: k8s/overlays/production
  destination:
    server: https://kubernetes.default.svc
    namespace: flight-tracker
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
