apiVersion: apps/v1
kind: Deployment
metadata:
  name: worker
  namespace: flight-tracker
spec:
  replicas: 1
  selector:
    matchLabels:
      app: worker
  template:
    metadata:
      labels:
        app: worker
    spec:
      containers:
        - name: worker
          image: ghcr.io/halitdincer/flight-tracker-api:latest
          imagePullPolicy: Always
          command: ["bundle", "exec", "sidekiq", "-C", "config/sidekiq.yml"]
          envFrom:
            - secretRef:
                name: api-secret
            - configMapRef:
                name: api-config
          resources:
            requests:
              cpu: 100m
              memory: 256Mi
            limits:
              cpu: 500m
              memory: 512Mi
